body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    
    margin: 0;
    
    background-image: url(../imgs/fondo.jpg);
}

a {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background: black;
    color: white;
    
    padding-top: 1em;
    
    text-align: center;

    margin-bottom: 0;
}

header p:last-child {
    padding-bottom: 1em;
    margin-bottom: 0;
}

header h1 {
    margin-top: 0;
}

#menu {
    background: darkgray;
    color: black;
    box-shadow: 0 0.5em 0.5em lightgray;
}

#menu ul {
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    
    text-align: center;
}

#menu li {
    border: 1px solid lightgray;
    text-transform: uppercase;
    background: white;
    box-shadow: 0 0 0.4em;
}

#menu li:hover {
    box-shadow: 0 0 0;
    border: 1px solid black;
}

#menu a {
    display: inline-block;
    color: black;
    padding: 1em;
}

#menu a:hover {
    text-decoration: none;
}

article, aside {
    border: 5px solid lightgray;
    
    padding: 1em;
    border-radius: 5px;
    
    background: rgba(255, 255, 255, 0.79);
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside li {
    margin-bottom: 1em;
}

article > h2 {
    margin: 0;
}

section {
    background-color: #EEEEEE;
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 5px;
}

section h3 {
    margin-top: 0;
}

.referencia {
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}

#imagenes {
    position: relative;
    left: -0.5em;
    width: 100%;
    box-shadow: 1em 1em 1em lightgray;
}

#imagenes figure:nth-child(2) img {
    opacity: 0.10;
}

table {
    background: white;
    border-collapse: collapse;
}

thead, tfoot {
    background: black;
    color: white;
}

tbody tr:nth-child(odd) {
    background: rgb(232, 232, 232);
}

th, td {
  padding: 0.5em;  
}

button, input, textarea, select {
    background: white;
    border: 1px solid black;
}

section > h3:after, section > h3:before {
    content: " * ";
}

label {
    display: inline-block;
    width: 5em;
    text-align: right;
    padding-right: 1em;
}

input[required] {
    border: 2px solid yellow;
    background-image: url(../imgs/sample-usemap.png);
}

.responsive {
    width: 100%;
}

.youtube {
    position: relative;
	padding-bottom: 68.25%; /* 56.25%; *//* 16:9 */
	padding-top: 25px;
	height: 0;
}

.youtube iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 725px) {
    * {
        box-sizing: border-box;
    }
    
    /*
    header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10000;
    }
    
    */
    
    #menu {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10000;
    }
    
    /*
    main {
        padding-top: 16em;
    }
    */
    
    #menu li {
        display: inline-block;
    }
    
    img {
        width: inherit;
    }
    
    article {
        float: left;
        width: 75%;
    }
    
    section, #imagenes {
        float: left;
        width: 33.3333%;
    }
    
    aside {
        right: 0;
        width: 25%;
        position: fixed;
    }
    
    footer {
        clear: both;
    }
}










