* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3 {
    display: none;
}

header {
    background: url(../imgs/fondo_encabezado.png);
    background-position: right 3em top;
    height: 104px;
}

#menuprincipal li, #paginacion, header li, footer li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#idiomas {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 1em;
    margin: 0;
}

#idiomas li {
    display: inline-block;
}

#idiomas abbr {
    text-decoration: none;
}

#idiomas a {
    color: #9EA123;
    background: #E4E682;
    padding: 0.5em;
    font-size: 0.75em;
    font-weight: bold;
}

#idiomas a:hover {
    color: #E4E682;
    background: #9EA123;
    text-decoration: none;
}

#menuprincipal {
    background: #7C7C1D;
    text-transform: uppercase;
    font-size: 18px;
}

#menuprincipal ul {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

#menuprincipal a {
    padding: 1em;
}

#menuprincipal li {
    display: inline-block;
}

#menuprincipal li:last-child {
    /* float: right;
    margin-right: 1em; */
    position: absolute;
    right: 1em;
}

#menuprincipal a {
    color: #E4E682;
    font-weight: bold;
}

#menuprincipal a:hover {
    color: #7C7C1D;
    background: #E4E682;
    text-decoration: none;
}

#imagenes figure, #numeros, #texto {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#imagenes figure {
    position: relative;

    /* max-height: 416px; */
}

#imagenes img {
    width: 100%;
    display: block;
}

#imagenes figcaption {
    max-width: 462px;
    height: 95px;
    background: rgba(246, 247, 213, 0.65);
    /* opacity: 0.65; */
    color: #35360B;
    font-size: 18px;
    
    position: absolute;
    bottom: 5em;
    right: 1em;
    
    padding: 1em;
    
    box-sizing: border-box;
    
    text-align: left;
}

#numeros {
    background: #9EA123;
    
    height: 25px;
    
    font-size: 18px;
}

#numeros ul {
    margin: 0;
    
    padding-left: 21px;
}

#numeros ul li {
    display: inline;
}

#numeros a {
    color: #E4E682;
}

#numeros a.activo {
    color: #35360B;
}

#texto {
    font-size: 21px;
    color: #35360B;
    
    padding: 3em 2em 4em;
}

#texto p {
    margin: 0.5em;
    line-height: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    background: #9EA123;
    
    border-top: 2em solid  #7C7C1D;
    
    font-size: 0.7em;
}

footer #logotipo {
    margin-top: -2em;
    text-align: center;
    width: 20%;
}

footer #vinculos, footer address {
    width: 40%;
}

footer #vinculos {
    order: -1;
    text-align: right;
}

footer #vinculos > * {
    margin: 0.5em 0;
    padding: 0;
    text-align: left;
    
    width: 32em;
    
    display: inline-block;
}

footer #vinculos *:first-child {
    margin-top: 1em;
}

footer, footer a {
    color: #35360B;
}

footer #vinculosgenerales li, footer #vinculoslegales li {
    display: inline;
}

footer #vinculosgenerales {
    text-transform: uppercase;
}

footer #vinculoslegales li:after {
    content: ' |';
}

footer #vinculoslegales li:last-child:after {
    content: '';
}

footer address {
    font-style: normal;
}

footer address abbr {
    text-decoration: none;
}

@media (max-width: 887px) {
    
    #menuprincipal ul {
        margin: 0;
    }
    
    #menuprincipal li {
        text-align: center;
       display: block;
    }
    
    #menuprincipal li a {
        display: block;
    }
    
    #menuprincipal li:last-child {
        position: inherit;
    }
    
    /*
    footer {
        display: block;
        padding-bottom: 0.1em;
    }
    
    footer > *, footer #vinculos, footer #vinculos ul, footer #vinculos p {
        width: 100% !important;
        display: block;
        text-align: center;
    }
    */
    
    footer {
        flex-direction: column;
        padding-bottom: 0.5em;
    }
    
    footer #logotipo {
        order: -2;
    }
    
    footer #vinculos {
        order: 2;
    }
    
    footer > *, footer #vinculos, footer #vinculos ul, footer #vinculos p {
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width: 500px) {
    #imagenes figcaption {
        bottom: 0;
        right: 0;
        height: auto;
        width: 100%;
    }
    
    
}














